body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

pre {
  background: #dddddd;
}

#console {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.container {
  display: none;
}

#sets-available li {
  cursor: pointer;
}

#sets-available li:hover{
  color: #FFFFFF;
  background:#235B6E;
}

#sets-chosen li {
  cursor: pointer;
}

#sets-chosen li:hover{
  color: #FFFFFF;
  background:#235B6E;
}
